@import "../../assets/vendor/bootstrap/functions";
@import "../../assets/vendor/bootstrap/variables";
@import "../../assets/vendor/bootstrap/mixins/breakpoints";

.logo-split-logo {
  display: block;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;

  @media (max-height: 800px) {
    width: 25%;
  }

  @include media-breakpoint-down(md) {
    width: 200px;
  }
}

.logo-split-title {
  font-size: 6.4rem;
  font-weight: 300;
  position: absolute;
  bottom: 10rem;
  left: 50%;
  transform: translate(-50%, 0);

  @media (max-height: 500px) {
    display: none;
  }
}