@import "assets/vendor/bootstrap/_functions";
@import "assets/vendor/bootstrap/_variables";

.create-workshop-helper-column {
  background: url("../../assets/images/modern_art_bg.svg") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 90vh;
  border-bottom: $black 2px solid;
  border-left: $gray-400 1px solid;
}