@import "assets/vendor/bootstrap/_functions";
@import "assets/vendor/bootstrap/_variables";

.react-tagsinput-container {
  border-bottom: $gray-600 1px solid;
}

.react-tagsinput-tag {
  background-color: $primary;
  border-radius: $border-radius;
  border: 1px solid $purple;
  color: $white;
  display: inline-block;
  font-family: sans-serif;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  padding: 1rem;

  a:before {
    content: " ×";
    cursor: pointer;
  }
}

.react-tagsinput-input-field {
  background: transparent;
  border: 0;
  color: $gray-600;
  font-family: sans-serif;
  font-size: 1.3rem;
  outline: none;
  width: 12rem;
  padding: 1rem;
}