.online-members {
  display: flex;

  i {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    font-size: 3rem;
    margin-left: 1rem;

    &:first-child {
      margin-left: 0;
    }
  }
}