@keyframes fadeInOut {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

circle {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;

  &.expired {
    animation: fadeInOut 1.2s linear infinite;
  }
}

.timer-display {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: 700;
}