.requirements-list {
  > div {
    width: 100%;
    display: flex;
    margin: 3rem 0;
    align-items: center;

    img {
      display: block;
      width: 40px;
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: auto;
    }

    div {
      width: 100%;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: auto;
      font-size: 1.8rem;
      margin-left: 3rem;
    }
  }
}