@import "assets/vendor/bootstrap/_functions";
@import "assets/vendor/bootstrap/_variables";

.pulse-loader {
  background-color: $secondary;
  outline: 1px solid transparent;
  animation: pulseanim 1.2s ease-in-out infinite;
}

@keyframes pulseanim {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0.8;
  }
  
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}