@import "assets/vendor/bootstrap/_functions";
@import "assets/vendor/bootstrap/_variables";

.pro-tip-lightbulb-container {
  position: fixed;
  z-index: 1060;

  &.bottom-right {
    bottom: 50px;
    right: 50px;
  }
}

.pro-tip-lightbulb {
  width: 3rem;
  cursor: pointer;
}

.pro-tip-box {
  position: absolute;
  bottom: 100%;
  right: 100%;
  min-width: 30rem;
  background-color: lighten($yellow, 20);
}

.pro-tip-box-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.pro-tip-example-text {
  background: url(../../assets/images/red_squiggle.svg) no-repeat;
  background-size: cover;
}

.pro-tip-enter {
  animation: .5s bounceIn ease;
}

.pro-tip-exit {
  animation: .6s bounceOut ease;
}
