@import "assets/vendor/bootstrap/_functions";
@import "assets/vendor/bootstrap/_variables";
@import "assets/vendor/bootstrap/_mixins";

.homepage-banner {
  background-size: cover;
  color: $white;
  padding: 5rem;
  padding-top: 30rem;
}

.homepage-banner-content {
  width: 100%;
  max-width: 200px;
  position: relative;

  .homepage-banner-content-text {
    @include media-breakpoint-up(md) {
      position: absolute;
      top: 50%;
      left: 100%;
      transform: translate(-50%, -50%);
      width: 250px;
    }

    @include media-breakpoint-down(md) {
      margin-top: 2rem;
    }
  }
}