@import "assets/vendor/bootstrap/_functions";
@import "assets/vendor/bootstrap/_variables";

.home-page-email-input {
  border: none;
  border-bottom: $black 1px solid;
  border-radius: 0;
}

.homepage-banner {
  background-size: cover;
  color: $white;
  padding: 10rem;
  padding-top: 20rem;
}

.homepage-banner-content {
  width: 100%;
  max-width: 200px;
  position: relative;

  .homepage-banner-content-text {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    width: 250px;
  }
}