@import "assets/vendor/bootstrap/_functions";
@import "assets/vendor/bootstrap/_variables";

.impact-effort-chart {
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  .title-top,
  .title-bottom,
  .title-left,
  .title-right {
    position: absolute;
    z-index: 2;
  }
  
  .title-top {
    bottom: calc(100% + 1rem);
    left: 50%;
    transform: translate(-50%, 0);
  }

  .title-bottom {
    top: calc(100% + 1rem);
    left: 50%;
    transform: translate(-50%, 0);
  }

  .title-left {
    top: 50%;
    right: calc(100% + 1rem);
    transform: translate(0, -50%);
  }

  .title-right {
    top: 50%;
    left: calc(100% + 1rem);
    transform: translate(0, -50%);
  }
}

.impact-effort-chart-row {
  display: flex;
}

.impact-effort-chart-quadrant {
  position: relative;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 50%;
  background-color: $yellow;
  text-align: center;
  font-size: 4rem;
  height: 300px;
  opacity: .26;

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.ie-item-container {
  position: relative;
  width: 30px;
  height: 30px;
}

.ie-item {
  width: 30px;
  height: 30px;
  background-color: $red;
  color: $white;
  border-radius: 100%;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  z-index: 2;
}

.ie-content {
  position: absolute;
  top: 50%;
  left: calc(100% + 1rem);
  background-color: $primary;
  transform: translate(0, -50%);
  min-width: 50rem;
  text-align: left;
  padding: 1rem;
  border-radius: 1rem;
  z-index: 2;
  color: $white;
}
